<div class="header">
  
  <div class="img">
    
  </div>
  <div class="menuber">
    
  </div>
 
</div>

<div class="content">
  <div class="side">
    <div class="acount"></div>
    <h3>Tadaka</h3>
    <p>@nozomi_clone</p>
  </div>
  
  <div class="main">
    <h2>新規投稿</h2>
     <%= render 'form' %> 
  </div>
</div>

<div id="footer">
  <p class="footer">@NozomiTakada</p>
</div>