
<div class="header">
  <div class="img">
  </div>
  <div class="menuber">
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="acount"></div>
    <h3>Tadaka</h3>
    <p>@nozomi_clone</p>
  </div>
  <div class="main">
      <h2>詳細画面</h2>
      <p>内容: <%= @clone.content %></p>

<%= link_to "back", clones_path %>

</div>  
</div>
<div id="footer">
  <p class="footer">@NozomiTakada</p>
</div>